:root {
  --main-bg: #202020;
  --bg-text: rgba(56, 58, 61, 0.35);
  --text-color: #efefef;
  --accent-color: #4f60e3;
  --titlebar-bg: #191919;
  --sidebar-bg: #191919;
  --sidebar-hover-bg: #1f2428;
  --explorer-bg: #191919;
  --explorer-hover-bg: #24292e;
  --explorer-border: #232323;
  --tabs-bg: #191919;
  --tab-bg: #191919;
  --tab-active-bg: #202020;
  --tab-border: #232323;
  --bottombar-bg: #191919;
  --bottombar-border: #232323;
  --button-bg: #176f2c;
  --button-text: #dcffe4;
  --bottombar-hover-bg: #4f4f52;
  --scrollbar-track-bg: #24292e;
  --scrollbar-thumb-bg: #333536;
  --article-bg: #222222;
}
